
  .faq h2 {
    padding-top: 68px;
    padding-bottom: 20px;
  }
  
  .faq-enum h3 {
    position: relative;
    cursor: pointer;
  }
  
  .faq-enum p {
    font-weight: 500;
    font-size: 16px;
    color: #4e5a73;
    line-height: 1.37;
    margin-top: 10px;
  }
  
  .faq-enum div {
    border: 3px solid transparent;
    padding: 10px 12px 10px 30px;
    transition: border-color .25s;
  }
  
  .faq-enum div.active {
    border-color: #f14e3b;
  }
  
  .faq-one {
    position: absolute;
    left: -35px;
    width: 25px;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    color: #828a9b;
    margin-top: 4px;
  }
  
  .faq h2{
    text-align: center;
  }

  .active h3 {
    color: #f14e3b;
  }
  
  @media screen and (min-width: 768px) {
    .faq h2 {
        padding-top: 132px;
        padding-bottom: 80px;
      }
  }