.support h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 22px;
  }
  
  .support-block {
    background: #fff;
    border-radius: 5px;
    box-shadow: 15px 15px 30px rgba(6, 14, 45, .075);
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 10px;
    height: 100%;
    position: relative;
    padding: 24px 24px 45px;
    min-height: 220px;
    z-index: 4;
  }
  
  .support-block .text {
    position: relative;
    z-index: 5;
  }
  
  .support-item {
    margin-bottom: 5px;
  }
  
  .support-digit {
    font-weight: bold;
    font-size: 12px;
    color: #828a9b;
    margin-bottom: 20px;
  }
  
  .support-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #050c33;
    line-height: 1.22;
  }
  
  .support-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  @media screen and (min-width: 768px) {
    .support h2 {
      margin-bottom: 55px;
    }
    
    .support-block {
      min-height: 292px;
    }
  }