.squad {
    padding: 50px 30px 0;
  }
  
  .squad h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .members-unit {
    padding: 0 15px;
  }
  
  .members-panel {
    margin-bottom: 20px;
    font-size: 12px;
  }
  
  .members-picture {
    border-radius: 0;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
  }
  
  .pic-adaptive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .members-name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: #050c33;
    line-height: 1.35;
  }
  
  .members-function {
    padding: 0;
    color: #505570;
    font-weight: 500;
    line-height: 1.37;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .all-squad {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  
  .all-squad a {
    padding: 10px 30px;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #050c33;
    border: 1px solid #cccdd5;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .squad h2 {
      font-size: 42px;
      margin: 130px 0 80px 0;
    }
    
    .members-unit {
      padding: 0 50px;
    }
  
    .members-panel {
      text-align: left;
      margin-bottom: 70px;
    }
    
    .members-picture {
      margin-bottom: 25px;
    }
    
    .members-function {
      font-size: 16px;
      margin-top: 0px;
    }
    
    .all-squad a {
      padding: 24px 75px;
    }
  }
  